html,
body {
    background-color: #fff;
    color: #333333;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #333333;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    width: 100%;
    border-bottom: 1px solid #eee;
}

.header-left a {
    text-decoration: none;
}

.header-left-text {
    color: #333333;
}

.header-right {
    display: flex;
}

.header-right a {
    margin-right: 20px;
    text-decoration: none;
}

.header-right div {
    margin-right: 20px;
}

.header-right-text {
    color: #333333;
}

strong {
    color: red;
}
